

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');



body {
  padding: 0;
  margin: 0;
  font-family: 'Oswald', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@media print {
  
  body * {
    size: A4;
    visibility: hidden;
    
  }
  #printable-area, #printable-area * {
    visibility: visible;
  }
  #printable-area {
    position: absolute;
    left: 0;
    top: 0;
  }
  .print:bg-slate-400 {
    background-color: #3c4858 !important;
  }
  .print:h-32 {
    height: 32px !important;
  }
  .print:h-52 {
    height: 52px !important;
  }
}




@tailwind base;
@tailwind components;
@tailwind utilities;
